[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
PyInstaller = "*"
pytest = "*"
pytest-black = "*"
pytest-cov = "*"
pytest-flake8 = "*"

[packages]
click = "*"
deepdiff = "*"
PyYAML = "*"

[requires]
python_version = "3.7"
